---
title: The Best Site
description: Description of the best site
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>"/>

    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}

    <style>
      {% set css %}
      {% include "styles/main.css" %}
      {% endset %}
      {{ css | postcss | safe }}
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
